@media screen and(min-width:800px)  and (max-width:1000px){
/*header*/


    .links{
        display:none;
    }
    .header-center{
    width:80%;
    padding-bottom:25%;
    }
.logo{ 
    width:7%;margin:auto;
    img{
        align-self: center;
    }
    h3{display:none;}
}

/*slider*/

.slider-txt{
    width:85%;
}

/*project*/

.project-txt{
    width:90%
}

/*mobile*/

.mb-photo{
  position: absolute;
    bottom: 0;
    width:45%;
    height:auto;
}
.mobile-txt{
    width:60%;
    margin-left:auto;
    padding-bottom:30px;
}
.numbers{
    span{
        font-size:40px;
    }
}

/*information*/

.info-container{
    flex-direction:column;
}
.info-box{
    width:100%;
    margin-top:30px;
}
.inf-4{
    display:none;
}

}