
/*general style*/
*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style-type:none;
}
h1{ font-size: 52px; }
h2{ font-size: 36px; }
h3{ font-size: 34px; }
h4{ font-size: 28px; }
p { font-size: 16px; }
.content{
    width:100%;
    max-width:1500px;
    margin:auto;
}
.wrapper{
    width:85%;
    margin: auto;
}
@media screen and(min-width:1700px){
    h1{ font-size: 70px; }
    h2{ font-size: 45px; }
    h3{ font-size: 43px; }
    h4{ font-size: 35px; }
    p { font-size: 30px; }
}

/*header*/
.bg-one{
    background-image: url('../images/bg_header_1.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
}

.header-top{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:10%;
    padding-top:5%;
}
.logo{
    display: flex;
    
    h3{
        color: #ffffff;
        font-family:'Raleway',sans-serif;
        font-weight: 400;
        letter-spacing: -1.36px;
    }
}

.links{
    width:75%;
    display: flex;
    justify-content: space-between;
    a{
        color: #ffffff;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 300;
        display:inline-block;
        color:#fff;
        transition-duration: .1s;
      
        &:hover{
        color: #c7b299;
        }
    }

}
// button -top

.btn_up{
    position:fixed;
    bottom:-50px;
    right:50px;
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #2a2a2a;
    background:#2a2a2a;
    z-index:100;
    outline:0!important;
    transition:.4s;

}
.btn_up:after{
    content:'';
    width:10px;
    height:10px;
    border-left:2px solid silver;
    border-top:2px solid silver;
    transform:rotate(45deg);
    position:absolute;
    top:4px;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.btn_up.active{
    bottom:50px;
}


// button -top
/*burger-menu*/

.menu{
    display:none;
}


/*burger-menu*/



.header-center{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;
    h1{
        color: #ffffff;
        font-family: "Raleway",sans-serif;
        font-weight: 700;
    }
    h2{
        color: #ffffff;
        font-family: 'Raleway',sans-serif;
        font-weight: 500;
        padding:3% 0 0 0;
    }
    p{
        color: #ffffff;
        font-family: Montserrat;
        font-weight: 300;
        line-height: 24px;
        padding:3% 0 10% 0;
    }
    a{
        color: #ffffff;
        font-family: "Raleway",sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        padding:21px 39px;
        box-shadow: inset 0 -3px 0 #736357;
        border-radius: 3px;
        background-color: #998675;
    
    }
}

/*about upp */

.about{
    display:flex;
    justify-content:space-between;
    padding:5% 0 10%  0;

    
}
.abt-box{
    width:22%;
    height:15%;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    img{
        align-self: center;
    }
    h4{
        color: #555555;
        font-family:'Raleway',sans-serif;
        font-size: 22px;
        font-weight: 400;
        padding:20px 0 37px 0;
    }
    P{
        color: #8c8c8c;
        font-family:'Montserrat';
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
}


.line-box{
    width: 70px;
    height: 3px;
    margin:auto;
    background:#ffffff;
    margin-top:20px;
    
}
.abt-box:hover{
    .line-box{
        background-color: #c7b299;
    }
    h4{
        color: #c7b299;
    }
}

/*slider*/

.slider{
    text-align: center;
    h3{
        color: #555555;
        font-family: 'Raleway',sans-serif;
        font-size: 30px;
        font-weight: 400;
    }
    p{
        color: #8c8c8c;
        font-family: 'Montserrat',sans-serif;
        font-weight: 300;
        line-height: 28px;        
    }
}
.slider-txt{
    width: 77%;
    margin: 0 auto;
    padding-bottom: 5%;
}
.slider-box{
    margin-bottom:-5px;
    img{
        max-width:100%;
    }
}
.wp-theme{
    display: flex;
    justify-content: space-between;
    padding:30px 10px 30px 10px;
}
.wp-bg{
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.wp-txt{
    h4{
        color: #ffffff;
        font-family: 'Raleway',sans-serif;
        font-size: 28px;
        font-weight: 400;
        span{
            color: #c7b299;
        }
    }
   p{
    color: #615855;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 300;
   }
}
.wp-button{
    padding:15px 0 0 0;
    a{
    color: #ffffff;
    font-family:'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    text-transform: uppercase;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    padding:20px 29px;            
    }
}

/*our-project*/

.our-project{
    display:flex;
    flex-direction:column;
    padding:5%;
}
.project-txt{
    text-align:center;
    width:85%;
    margin:0 auto;
    h4{
        color: #555555;
        font-family: "Raleway",sans-serif;
        font-size: 30px;
        font-weight: 400;
        padding-bottom:3%;
    }
    p{
        color: #8c8c8c;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
    }
}
.pjt-button{
    width:90%;
    padding:4% 0 0 0;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    a{
        color: #8c8c8c;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        padding:7px 10px;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        transition-duration:.3s;
        &:hover{
            color:white;
            border-radius: 3px;
            background-color: #998675;
        }
    }

}
.project-gallery{
    display:flex;
    flex-wrap:wrap;
    padding-top:5%;
    justify-content:space-between;
}
.box-photo{
    width:32%;
    img{
        width:100%;
    }
    h4{
        color: #c7b299;
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 500;        
    }
    p{
        color: #d1d1d1;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }
    figcaption{
        padding:10px 10px;
    }
}
figure:hover{
     background-color: #362f2d;
     h4{
        color: #ffffff;
     }
     p{
        color: #c7b299;
     }
}
.p-4, .p-5, .p-6{
    margin-top:1.5%;
}

/*video*/

.video{
    width:100%;
    max-width:1500px;
    height:auto;
    margin:0 auto;
    video{
        width:100%;
        height:auto;
    }
}

/*for-mobile*/

.for-mobile{
    display:flex;
    padding-top:70px;
    position: relative;
}
.mb-photo{
    max-width:100%;
    height:100%;
}
.mobile-txt{

    h4{
        color: #555555;
        font-family: "Raleway",sans-serif;
        font-size: 30px;
        font-weight: 400;        
    }
    h5{
        color: #8c8c8c;
        font-family: 'Montserrat';
        font-weight: 300;
        font-size:16px;
        line-height: 28px;
        padding:20px 0;     
        
    }

     ul{
        display:flex;
        flex-direction:column;
        padding-left:50px;
        p{
            padding-left:20px;
            color: #8c8c8c;
            font-family: 'Montserrat';
            font-weight: 300;
            line-height: 28px;
        }
        li{
             display:flex;
             padding-top:2%;
            
            }
        img{
             align-self: center;
            }
    }
}

/*numbers*/
.numbers{
    width:100%;
     background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.list-numbers{
    display:flex;
    width:80%;
    margin:auto;
    justify-content:space-between;
    padding:50px 0;
    img{
        align-self: center;
       }
    li{
        display:flex;
        flex-direction:column;
        text-align:center;
        width:17%;
    }
    span{
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 48px;
        font-weight: 400;
        line-height: 36px;
        padding:20px;
    }
    p{
        color: #c7b299;
        font-family: 'Montserrat',sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-transform: uppercase;        
    }
}
.line-numb{
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin:auto;
    margin-top:20px;
}

/*posts*/
.recent-posts{
    padding:50px;
    
    h4{
        color: #555555;
        font-family: "Raleway",sans-serif;
        font-size: 30px;
        font-weight: 400;
        padding-bottom:20px;
        text-align:center;
    }
    p{
        color: #8c8c8c;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        padding-bottom:20px;
        text-align:center;
    }
}
.posts-container{
    display:flex;
    justify-content:space-between;

}
.box-post{
    width:32%;
    
    img{
        max-width:100%;
    }
    h4{
        color: #555555;
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 500;
        &:hover{
            color: #c7b299;
        }
    }
    p{
        color: #8c8c8c;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
    }
    &:hover{
        h4{
            color: #c7b299;
        }
        p{
            color:#ffffff;
        }
    }
}

/*frands*/

.frands{
    background-image:url('../images/photo_footer.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding:125px 0;
    
}
.frands-img{
    width:100%;
    display:flex;
    justify-content:space-between;
    img{
        align-self: center;
        width:20%;
        max-width:100%;       
       }
    }

    /*information*/

.information{
    background-color: #191919;
    padding:50px 0;
}
.info-container{
    display:flex;
    justify-content:space-between;
}
.info-box{
    width:23%;
    display:flex;
    flex-direction:column;
    h3{
        color: #ffffff;
        font-family: 'Raleway';
        font-weight: 400;
        letter-spacing: -1.36px;        
    }
    h4{
        color: #ffffff;
        font-family:'Raleway',sans-serif;
        font-size: 24px;
        font-weight: 700;        
    }
    p{
        color: #6b6b6b;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }
}

/*inf-1*/
.inf-1{
    p{
        padding:20px 0;
    }
}
.logo-inf{
    display:flex;
}
.btn-info{
    display:flex;
    img{
        align-self: center;
        margin-left:10px;
    }
    a{
        color: #d1d1d1;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}

/*inf-2*/

.posts-info{
    padding:15px 0;
    span{
        color: #363636;
        font-family: 'Montserrat';
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;        
    }
    &:hover{
        span{
            color:#ffffff;
        }
        p{
            color: #c7b299;
        }
    }
}
.p{
    border-bottom:1px solid  #595f6f;
    
}

/*inf-3*/

.twitter-info{
    h4{
        padding-bottom:30px;
    }
}
.twit-info{
    padding:15px 0;
    span{
        color: #363636;
        font-family: 'Montserrat';
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;        
    }
    &:hover{
        span{
            color:#ffffff;
        }
        p{
            color: #c7b299;
        }
    }
}
.t{
    border-bottom:1px solid  #595f6f;
}

/*inf-4*/

.inf-4{
    h4{
        padding-bottom:40px;
    }
}
.widget-info{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
}
.widget{
    width:48%;
}
.w{
    margin-bottom:8px;
}

/*footer*/

.footer{
    background:#111111;
}
.foot-box{
    display:flex;
    justify-content:space-between;
    padding:30px 0;
}
.ft-bx{
    display:flex;
    li{
        padding:0 7px;
    }
    p{
        color: #959595;
        font-family: 'Montserrat';
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
    }
    span{
        color: #555555;
        font-family: 'Montserrat';
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
    }
    
}
.brd{
    border-right:1px solid #595f6f;
}