/*general style*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 28px;
}

p {
  font-size: 16px;
}

.content {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.wrapper {
  width: 85%;
  margin: auto;
}

@media screen and (min-width: 1700px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 43px;
  }
  h4 {
    font-size: 35px;
  }
  p {
    font-size: 30px;
  }
}

/*header*/
.bg-one {
  background-image: url("../images/bg_header_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo h3 {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
  letter-spacing: -1.36px;
}

.links {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links a {
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  color: #fff;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

.links a:hover {
  color: #c7b299;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.header-center {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 15%;
}

.header-center h1 {
  color: #ffffff;
  font-family: "Raleway",sans-serif;
  font-weight: 700;
}

.header-center h2 {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
  padding: 3% 0 0 0;
}

.header-center p {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 24px;
  padding: 3% 0 10% 0;
}

.header-center a {
  color: #ffffff;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding: 21px 39px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
}

/*about us */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0 10%  0;
}

.abt-box {
  width: 22%;
  height: 15%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.abt-box img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.abt-box h4 {
  color: #555555;
  font-family: 'Raleway',sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 20px 0 37px 0;
}

.abt-box P {
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.line-box {
  width: 70px;
  height: 3px;
  margin: auto;
  background: #ffffff;
  margin-top: 20px;
}

.abt-box:hover .line-box {
  background-color: #c7b299;
}

.abt-box:hover h4 {
  color: #c7b299;
}

/*slider*/
.slider {
  text-align: center;
}

.slider h3 {
  color: #555555;
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.slider p {
  color: #8c8c8c;
  font-family: 'Montserrat',sans-serif;
  font-weight: 300;
  line-height: 28px;
}

.slider-txt {
  width: 77%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.slider-box {
  margin-bottom: -5px;
}

.slider-box img {
  max-width: 100%;
}

.wp-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.wp-bg {
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.wp-txt h4 {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.wp-txt h4 span {
  color: #c7b299;
}

.wp-txt p {
  color: #615855;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
}

.wp-button {
  padding: 15px 0 0 0;
}

.wp-button a {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  padding: 20px 29px;
}

/*our-project*/
.our-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.project-txt {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.project-txt h4 {
  color: #555555;
  font-family: "Raleway",sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 3%;
}

.project-txt p {
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.pjt-button {
  width: 90%;
  padding: 4% 0 0 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pjt-button a {
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.pjt-button a:hover {
  color: white;
  border-radius: 3px;
  background-color: #998675;
}

.project-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-photo {
  width: 32%;
}

.box-photo img {
  width: 100%;
}

.box-photo h4 {
  color: #c7b299;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
}

.box-photo p {
  color: #d1d1d1;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.box-photo figcaption {
  padding: 10px 10px;
}

figure:hover {
  background-color: #362f2d;
}

figure:hover h4 {
  color: #ffffff;
}

figure:hover p {
  color: #c7b299;
}

.p-4, .p-5, .p-6 {
  margin-top: 1.5%;
}

/*video*/
.video {
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin: 0 auto;
}

.video video {
  width: 100%;
  height: auto;
}

/*for-mobile*/
.for-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  position: relative;
}

.mb-photo {
  max-width: 100%;
  height: 100%;
}

.mobile-txt h4 {
  color: #555555;
  font-family: "Raleway",sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.mobile-txt h5 {
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  padding: 20px 0;
}

.mobile-txt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
}

.mobile-txt ul p {
  padding-left: 20px;
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 28px;
}

.mobile-txt ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
}

.mobile-txt ul img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*numbers*/
.numbers {
  width: 100%;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.list-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.list-numbers img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.list-numbers li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 17%;
}

.list-numbers span {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
  padding: 20px;
}

.list-numbers p {
  color: #c7b299;
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
}

.line-numb {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 20px;
}

/*posts*/
.recent-posts {
  padding: 50px;
}

.recent-posts h4 {
  color: #555555;
  font-family: "Raleway",sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 20px;
  text-align: center;
}

.recent-posts p {
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 20px;
  text-align: center;
}

.posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-post {
  width: 32%;
}

.box-post img {
  max-width: 100%;
}

.box-post h4 {
  color: #555555;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
}

.box-post h4:hover {
  color: #c7b299;
}

.box-post p {
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.box-post:hover h4 {
  color: #c7b299;
}

.box-post:hover p {
  color: #ffffff;
}

/*frands*/
.frands {
  background-image: url("../images/photo_footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 125px 0;
}

.frands-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frands-img img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 20%;
  max-width: 100%;
}

/*information*/
.information {
  background-color: #191919;
  padding: 50px 0;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-box {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-box h3 {
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 400;
  letter-spacing: -1.36px;
}

.info-box h4 {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.info-box p {
  color: #6b6b6b;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

/*inf-1*/
.inf-1 p {
  padding: 20px 0;
}

.logo-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-info img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
}

.btn-info a {
  color: #d1d1d1;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/*inf-2*/
.posts-info {
  padding: 15px 0;
}

.posts-info span {
  color: #363636;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.posts-info:hover span {
  color: #ffffff;
}

.posts-info:hover p {
  color: #c7b299;
}

.p {
  border-bottom: 1px solid  #595f6f;
}

/*inf-3*/
.twitter-info h4 {
  padding-bottom: 30px;
}

.twit-info {
  padding: 15px 0;
}

.twit-info span {
  color: #363636;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.twit-info:hover span {
  color: #ffffff;
}

.twit-info:hover p {
  color: #c7b299;
}

.t {
  border-bottom: 1px solid  #595f6f;
}

/*inf-4*/
.inf-4 h4 {
  padding-bottom: 40px;
}

.widget-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.widget {
  width: 48%;
}

.w {
  margin-bottom: 8px;
}

/*footer*/
.footer {
  background: #111111;
}

.foot-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.ft-bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ft-bx li {
  padding: 0 7px;
}

.ft-bx p {
  color: #959595;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.ft-bx span {
  color: #555555;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.brd {
  border-right: 1px solid #595f6f;
}
/*# sourceMappingURL=style.css.map */